<button
  type="button"
  class="cursor-pointer hover:bg-gray-100 w-full bg-white border border-gray-200 rounded-lg shadow"
  (click)="editPack(pack.index)"
>
  <div class="flex min-h-40 flex-col items-center px-6 py-4">
    <h5
      class="mb-1 items-center flex mr-auto text-xl font-medium text-gray-700"
    >
      {{ pack.name }}
    </h5>

    <div class="grid grid-cols-4 gap-1 w-full mt-2 mb-2">
      @for (type of uniqueTypes; track $index) {
        <app-chips [label]="type" />
      }
    </div>

    <div class="flex w-full mt-auto justify-between items-center">
      <div class="inline-flex gap-1 items-center">
        <app-chips chipType="yellow" [label]="totalPokemons">
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/color/18/pokeball--v1.png"
            alt="pokeball"
          />
        </app-chips>

        <app-chips chipType="red" [label]="totalTrainers">
          <img
            width="18"
            height="18"
            src="https://img.icons8.com/color/18/personal-trainer.png"
            alt="trainer"
          />
        </app-chips>
      </div>

      <div class="flex items-center mt-auto gap-1">
        <app-button buttonType="outline" (cardClicked)="editPack(pack.index)">
          <i class="icon_pencil w-4 h-4"></i>
        </app-button>

        <app-button buttonType="outline" (cardClicked)="deletePack(pack.index)">
          <i class="icon_trash h-4 w-4"></i>
        </app-button>
      </div>
    </div>
  </div>
</button>
