<div class="flex items-center justify-between w-full mb-3">
  <h5 class="mb-1 items-center flex mr-auto text-xl font-bold text-gray-600">
    {{ pokemon.name }}
  </h5>

  <div class="inline-flex gap-1 items-center">
    @if(pokemon.hp){
      <app-chips [label]="pokemon.hp"><i class="icon_heart w-3 h-3"></i></app-chips>
    } 
    @if(pokemon.level){
      <app-chips label="Lv.{{pokemon.level}}" chipType="blue" />
    } 
    @if(pokemon.supertype){
      <app-chips [label]="pokemon.supertype" [chipType]="pokemon.supertype === 'Pokémon' ? 'purple' : 'orange'" />
    }
  </div>
</div>
