<div class="w-full h-96 bg-white border border-gray-200 rounded-lg shadow">
  <div class="flex flex-col items-center p-4">
    <div class="w-full">
      <app-pokemon-card-header [pokemon]="pokemon" />
      <app-pokemon-card-body [pokemon]="pokemon" />
      <app-pokemon-card-footer [pokemon]="pokemon" />
    </div>

    <div class="ml-auto">
      <app-button buttonType="success" (cardClicked)="onClick()">
        <i class="icon_plus w-6 h-6"></i>
      </app-button>
    </div>
  </div>
</div>
